.cuerpo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.titulo {
    width: 100%;
}

.tablero {
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    align-items: center;
    justify-content: center;
    height: 950px;
}

.esquina {
    height: 50px;
    width: 50px;
    background-color: white;
}

.cabezeraColumna, .cabezeraFila {
    background-color: rgba(189,189,189,255);
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgba(221,221,221,255) 1px solid;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    
}

.cabezeraColumna {
    height: 50px;
    width: 100px;
}

.cabezeraFila {
    height: 100px;
    width: 50px;
}

.cuadrado {
    background-color: rgba(234,234,234,255);
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: rgba(221,221,221,255) 1px solid;
    cursor: pointer ;
}

.disparo {
    background-color: tomato;
}

.perdido {
    background-color: rgba(128,128,128,255);
}

.verNaves {
    border-color: orange;
}
